---
import Layout from "../../layouts/Layout.astro";
import penguins from "../../assets/penguins.json";
import PlotFigure from "../../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";

export const prerender = false;

const { species } = Astro.params;
const data = penguins.filter(p =>
  p.species === species &&
  p.culmen_length_mm &&
  p.culmen_depth_mm
);
---

<Layout>
  <section class="mb-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Espèce : {species}</h1>

    {data.length === 0 ? (
      <p class="text-red-600">Aucune donnée disponible pour cette espèce.</p>
    ) : (
      <PlotFigure
        options={{
          marks: [
            Plot.dot(data, {
              x: "culmen_length_mm",
              y: "culmen_depth_mm",
              stroke: "species",
            }),
          ],
        }}
      />
    )}
  </section>
</Layout>
