---
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TP6 - Visualisation des manchots</title>
  </head>
  <body class="bg-white text-gray-900">
    
    <nav class="bg-gray-900 text-white px-6 py-4 shadow-md">
      <ul class="flex flex-wrap gap-6 text-lg font-medium">
        <li><a href="/" class="hover:underline">Accueil</a></li>
        <li><a href="/rendu-dynamique" class="hover:underline">Rendu dynamique</a></li>
        <li><a href="/rendu-statique" class="hover:underline">Rendu statique</a></li>
        <li><a href="/rendu-statique/all-penguins" class="hover:underline">Tous les graphiques</a></li>
      </ul>
    </nav>

   
    <main class="max-w-6xl mx-auto px-6 py-10">
      <slot />
    </main>
  </body>
</html>

